*{
    box-sizing: border-box;
}

.box-1{
    width: 50%;
    padding: 10px;
    border: 5px solid red;
    float: left;
}

.box-2{
    width: 50%;
    padding: 30px;
    border: 1px solid blue;
    float: left;
}