.content-box{
    width: 400px;
    height: 300px;
    background-color: lightgray;
    position: relative;
}

.spinner{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    
}