.image-wrapper{
    width: 250px;
    height: 150px;
    border: 3px solid green;
    position: relative;
}

.camera-icon{
    width: 30px; height: 30px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
   margin-bottom: -15px;
    margin-right: -15px;
    right: 0;
}