*{
    box-sizing: border-box;
}

body{

    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.container{

    width: 700px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}

h1, h2, p{
    margin-bottom: 15px;
}